@font-face {
   font-family: 'Gloss_And_Bloom';
   src: url('Gloss_And_Bloom/font.ttf');
}
@font-face {
   font-family: 'BebasNeue-Regular';
   src: url('BebasNeue-Regular/font.ttf');
}
@font-face {
   font-family: 'Better Together Caps';
   src: url('Better Together Caps/font.ttf');
}
